<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.work.mapper.TbDiscountDao">
  <insert id="insert" parameterType="com.work.bean.TbDiscount">
   insert into tb_discount(id,degin_time,end_time,discount) values(#{id},#{degin_time},#{end_time},#{discount});
  </insert>
  <delete id="delete" parameterType="com.work.bean.TbDiscount">
   delete from tb_discount
   <where>
    id=#{id}
         <if test="degin_time!=null">and degin_time=#{ degin_time }</if>
         <if test="end_time!=null">and end_time=#{ end_time }</if>
         <if test="discount!=null">and discount=#{ discount }</if>
       </where>
  </delete>
  <update id="update" parameterType="com.work.bean.TbDiscount">
   update tb_discount
   <set>
         <if test="id!=null">id=#{ id },</if>
         <if test="degin_time!=null">degin_time=#{ degin_time },</if>
         <if test="end_time!=null">end_time=#{ end_time },</if>
         <if test="discount!=null">discount=#{ discount },</if>
       </set>
   <where>
    id=#{id}
         <if test="degin_time!=null">and degin_time=#{ degin_time }</if>
         <if test="end_time!=null">and end_time=#{ end_time }</if>
         <if test="discount!=null">and discount=#{ discount }</if>
       </where>
  </update>
  <select id="list" resultType="com.work.bean.TbDiscount" parameterType="com.work.bean.TbDiscount">
   select id,degin_time,end_time,discount from tb_discount
   <where>
         <if test="id!=null">and id=#{ id }</if>
         <if test="degin_time!=null">and degin_time=#{ degin_time }</if>
         <if test="end_time!=null">and end_time=#{ end_time }</if>
         <if test="discount!=null">and discount=#{ discount }</if>
       </where>
  </select>
  <select id="listByPage" resultType="com.work.bean.TbDiscount" parameterType="com.work.bean.TbDiscount">
   select id,degin_time,end_time,discount from tb_discount
   <where>
         <if test="id!=null">and id=#{ id }</if>
         <if test="degin_time!=null">and degin_time=#{ degin_time }</if>
         <if test="end_time!=null">and end_time=#{ end_time }</if>
         <if test="discount!=null">and discount=#{ discount }</if>
       </where>
   limit #{offset},#{rows}
  </select>
  <select id="load" resultType="com.work.bean.TbDiscount" parameterType="com.work.bean.TbDiscount">
   select id,degin_time,end_time,discount from tb_discount
   <where>
         <if test="id!=null">and id=#{ id }</if>
         <if test="degin_time!=null">and degin_time=#{ degin_time }</if>
         <if test="end_time!=null">and end_time=#{ end_time }</if>
         <if test="discount!=null">and discount=#{ discount }</if>
       </where>
   limit 0,1
  </select>
  <select id="count" resultType="int" parameterType="com.work.bean.TbDiscount">
   select count(1) from tb_discount
   <where>
         <if test="id!=null">and id = #{ id }</if>
         <if test="degin_time!=null">and degin_time = #{ degin_time }</if>
         <if test="end_time!=null">and end_time = #{ end_time }</if>
         <if test="discount!=null">and discount = #{ discount }</if>
       </where>
  </select>
 </mapper>
 