<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.work.mapper.TbHouseTypeDao">
  <insert id="insert" parameterType="com.work.bean.TbHouseType">
   insert into tb_house_type(id,drawing_room,balcony,store_room,loft,bedroom,restroom,garden,kitchen,house_type,remark,tb_house_id) values(#{id},#{drawing_room},#{balcony},#{store_room},#{loft},#{bedroom},#{restroom},#{garden},#{kitchen},#{house_type},#{remark},#{tb_house_id});
  </insert>
  <delete id="delete" parameterType="com.work.bean.TbHouseType">
   delete from tb_house_type
   <where>
    id=#{id}
         <if test="drawing_room!=null">and drawing_room=#{ drawing_room }</if>
         <if test="balcony!=null">and balcony=#{ balcony }</if>
         <if test="store_room!=null">and store_room=#{ store_room }</if>
         <if test="loft!=null">and loft=#{ loft }</if>
         <if test="bedroom!=null">and bedroom=#{ bedroom }</if>
         <if test="restroom!=null">and restroom=#{ restroom }</if>
         <if test="garden!=null">and garden=#{ garden }</if>
         <if test="kitchen!=null">and kitchen=#{ kitchen }</if>
         <if test="house_type!=null">and house_type=#{ house_type }</if>
         <if test="remark!=null">and remark=#{ remark }</if>
         <if test="tb_house_id!=null">and tb_house_id=#{ tb_house_id }</if>
       </where>
  </delete>
  <update id="update" parameterType="com.work.bean.TbHouseType">
   update tb_house_type
   <set>
         <if test="id!=null">id=#{ id },</if>
         <if test="drawing_room!=null">drawing_room=#{ drawing_room },</if>
         <if test="balcony!=null">balcony=#{ balcony },</if>
         <if test="store_room!=null">store_room=#{ store_room },</if>
         <if test="loft!=null">loft=#{ loft },</if>
         <if test="bedroom!=null">bedroom=#{ bedroom },</if>
         <if test="restroom!=null">restroom=#{ restroom },</if>
         <if test="garden!=null">garden=#{ garden },</if>
         <if test="kitchen!=null">kitchen=#{ kitchen },</if>
         <if test="house_type!=null">house_type=#{ house_type },</if>
         <if test="remark!=null">remark=#{ remark },</if>
         <if test="tb_house_id!=null">tb_house_id=#{ tb_house_id },</if>
       </set>
   <where>
    id=#{id}
         <if test="drawing_room!=null">and drawing_room=#{ drawing_room }</if>
         <if test="balcony!=null">and balcony=#{ balcony }</if>
         <if test="store_room!=null">and store_room=#{ store_room }</if>
         <if test="loft!=null">and loft=#{ loft }</if>
         <if test="bedroom!=null">and bedroom=#{ bedroom }</if>
         <if test="restroom!=null">and restroom=#{ restroom }</if>
         <if test="garden!=null">and garden=#{ garden }</if>
         <if test="kitchen!=null">and kitchen=#{ kitchen }</if>
         <if test="house_type!=null">and house_type=#{ house_type }</if>
         <if test="remark!=null">and remark=#{ remark }</if>
         <if test="tb_house_id!=null">and tb_house_id=#{ tb_house_id }</if>
       </where>
  </update>
  <select id="list" resultType="com.work.bean.TbHouseType" parameterType="com.work.bean.TbHouseType">
   select id,drawing_room,balcony,store_room,loft,bedroom,restroom,garden,kitchen,house_type,remark,tb_house_id from tb_house_type
   <where>
         <if test="id!=null">and id=#{ id }</if>
         <if test="drawing_room!=null">and drawing_room=#{ drawing_room }</if>
         <if test="balcony!=null">and balcony=#{ balcony }</if>
         <if test="store_room!=null">and store_room=#{ store_room }</if>
         <if test="loft!=null">and loft=#{ loft }</if>
         <if test="bedroom!=null">and bedroom=#{ bedroom }</if>
         <if test="restroom!=null">and restroom=#{ restroom }</if>
         <if test="garden!=null">and garden=#{ garden }</if>
         <if test="kitchen!=null">and kitchen=#{ kitchen }</if>
         <if test="house_type!=null">and house_type=#{ house_type }</if>
         <if test="remark!=null">and remark=#{ remark }</if>
         <if test="tb_house_id!=null">and tb_house_id=#{ tb_house_id }</if>
       </where>
  </select>
  <select id="listByPage" resultType="com.work.bean.TbHouseType" parameterType="com.work.bean.TbHouseType">
   select id,drawing_room,balcony,store_room,loft,bedroom,restroom,garden,kitchen,house_type,remark,tb_house_id from tb_house_type
   <where>
         <if test="id!=null">and id=#{ id }</if>
         <if test="drawing_room!=null">and drawing_room=#{ drawing_room }</if>
         <if test="balcony!=null">and balcony=#{ balcony }</if>
         <if test="store_room!=null">and store_room=#{ store_room }</if>
         <if test="loft!=null">and loft=#{ loft }</if>
         <if test="bedroom!=null">and bedroom=#{ bedroom }</if>
         <if test="restroom!=null">and restroom=#{ restroom }</if>
         <if test="garden!=null">and garden=#{ garden }</if>
         <if test="kitchen!=null">and kitchen=#{ kitchen }</if>
         <if test="house_type!=null">and house_type=#{ house_type }</if>
         <if test="remark!=null">and remark=#{ remark }</if>
         <if test="tb_house_id!=null">and tb_house_id=#{ tb_house_id }</if>
       </where>
   limit #{offset},#{rows}
  </select>
  <select id="load" resultType="com.work.bean.TbHouseType" parameterType="com.work.bean.TbHouseType">
   select id,drawing_room,balcony,store_room,loft,bedroom,restroom,garden,kitchen,house_type,remark,tb_house_id from tb_house_type
   <where>
         <if test="id!=null">and id=#{ id }</if>
         <if test="drawing_room!=null">and drawing_room=#{ drawing_room }</if>
         <if test="balcony!=null">and balcony=#{ balcony }</if>
         <if test="store_room!=null">and store_room=#{ store_room }</if>
         <if test="loft!=null">and loft=#{ loft }</if>
         <if test="bedroom!=null">and bedroom=#{ bedroom }</if>
         <if test="restroom!=null">and restroom=#{ restroom }</if>
         <if test="garden!=null">and garden=#{ garden }</if>
         <if test="kitchen!=null">and kitchen=#{ kitchen }</if>
         <if test="house_type!=null">and house_type=#{ house_type }</if>
         <if test="remark!=null">and remark=#{ remark }</if>
         <if test="tb_house_id!=null">and tb_house_id=#{ tb_house_id }</if>
       </where>
   limit 0,1
  </select>
  <select id="count" resultType="int" parameterType="com.work.bean.TbHouseType">
   select count(1) from tb_house_type
   <where>
         <if test="id!=null">and id = #{ id }</if>
         <if test="drawing_room!=null">and drawing_room = #{ drawing_room }</if>
         <if test="balcony!=null">and balcony = #{ balcony }</if>
         <if test="store_room!=null">and store_room = #{ store_room }</if>
         <if test="loft!=null">and loft = #{ loft }</if>
         <if test="bedroom!=null">and bedroom = #{ bedroom }</if>
         <if test="restroom!=null">and restroom = #{ restroom }</if>
         <if test="garden!=null">and garden = #{ garden }</if>
         <if test="kitchen!=null">and kitchen = #{ kitchen }</if>
         <if test="house_type!=null">and house_type = #{ house_type }</if>
         <if test="remark!=null">and remark = #{ remark }</if>
         <if test="tb_house_id!=null">and tb_house_id = #{ tb_house_id }</if>
       </where>
  </select>
 </mapper>
 