<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.work.mapper.TbUserDao">
  <insert id="insert" parameterType="com.work.bean.TbUser">
   insert into tb_user(name,username,password) values(#{name},#{username},#{password});
  </insert>
  <delete id="delete" parameterType="com.work.bean.TbUser">
   delete from tb_user
   <where>
    id=#{id}
         <if test="name!=null">and name=#{ name }</if>
         <if test="username!=null">and username=#{ username }</if>
         <if test="password!=null">and password=#{ password }</if>
       </where>
  </delete>
  <update id="update" parameterType="com.work.bean.TbUser">
   update tb_user
   <set>
         <if test="id!=null">id=#{ id },</if>
         <if test="name!=null">name=#{ name },</if>
         <if test="username!=null">username=#{ username },</if>
         <if test="password!=null">password=#{ password },</if>
       </set>
   <where>
    id=#{id}
       </where>
  </update>
  <select id="list" resultType="com.work.bean.TbUser" parameterType="com.work.bean.TbUser">
   select id,name,username,password from tb_user
   <where>
         <if test="id!=null">and id=#{ id }</if>
         <if test="name!=null">and name=#{ name }</if>
         <if test="username!=null">and username=#{ username }</if>
         <if test="password!=null">and password=#{ password }</if>
       </where>
  </select>
  <select id="listByPage" resultType="com.work.bean.TbUser" parameterType="com.work.bean.TbUser">
   select id,name,username,password from tb_user
   <where>
         <if test="id!=null">and id=#{ id }</if>
         <if test="name!=null">and name=#{ name }</if>
         <if test="username!=null">and username=#{ username }</if>
         <if test="password!=null">and password=#{ password }</if>
       </where>
   limit #{offset},#{rows}
  </select>
  <select id="load" resultType="com.work.bean.TbUser" parameterType="com.work.bean.TbUser">
   select id,name,username,password from tb_user
   <where>
         <if test="id!=null">and id=#{ id }</if>
         <if test="name!=null">and name=#{ name }</if>
         <if test="username!=null">and username=#{ username }</if>
         <if test="password!=null">and password=#{ password }</if>
       </where>
  </select>
  <select id="count" resultType="int" parameterType="com.work.bean.TbUser">
   select count(1) from tb_user
   <where>
         <if test="id!=null">and id = #{ id }</if>
         <if test="name!=null">and name = #{ name }</if>
         <if test="username!=null">and username = #{ username }</if>
         <if test="password!=null">and password = #{ password }</if>
       </where>
  </select>
 </mapper>
 